.table td {

    border-top: 1px solid black;
    padding: 0.2rem;
    font-size: 110%;
}

.title {
    font-size: 120%;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    background-color: black;
}

*{
    color:black;
}

button{
    background-color: white;
    /*黑色边框2px*/
    border: 2px solid black;
}

a{
    color:black;
}